@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: #c3cfe2;
}

.kaart {
  height: 550px;
  width: 400px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 10px 7px 0px rgb(116, 117, 116);
  display: flex;
  flex-direction: column;
}

.kaart__footer {
  background-color: #686de0;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  width: 100%;
  height: 30%;
  position: relative;
}

.rond_plaatje {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  position: absolute;
  shape-outside: circle();
  top: -75px;
  right: 125px;
  border: 6px solid #fff;
}

.kaart__texthouder {
  height: 70%;
}

.kaart__text {
  padding: 50px 40px;
  font-weight: lighter;
  font-stretch: ultra-condensed;
  line-height: 1.4em;
  color: rgb(116, 117, 116);
}

.kaart__naam {
  text-align: center;
  color: #fff;
  margin-top: 75px;
  font-size: 1.4em;
  margin-bottom: 0;
}

.kaart__website {
  text-align: center;
  color: #c3cfe2;
  font-size: 1.2em;
  margin-top: 5px;
}

@media only screen and (min-width: 1024px) {
  .kaart {
    height: 1100px;
    width: 800px;
    box-shadow: 0px 20px 14px 0px rgba(0, 0, 0, 0.5);
  }

  .rond_plaatje {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    shape-outside: circle();
    top: -150px;
    right: 250px;
    border: 6px solid #fff;
  }
  .kaart__text {
    padding: 100px 80px;
    font-size: 3em;
  }
  .kaart__naam {
    margin-top: 150px;
    font-size: 2.8em;
  }
  .kaart__website {
    font-size: 2.4em;
  }
}
